<!DOCTYPE html>
<html lang="en">

<body>

{% extends "header.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<h1>Página de listagem de usuários</h1>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
        </thead>

        <tbody>
        {% for c in customers %}
        <tr>
            <td>
                {{ c.id }}
            </td>


            <td>
                {{c.name}} {{c.surname}}
            </td>
            <td>
                <a href="{% url 'customer_details' id=c.id %}" class="" role="button">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true">&nbsp;</span>Detalhes
                </a>
                <span>&nbsp;</span>


                <a href="{% url 'customer_edit' id=c.id %}" class="" role="button">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;</span>Editar
                </a>

                       <span>&nbsp;</span>

                <a class="" role="button" name="delete" data-id="{{ c.id }}">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">&nbsp;</span>Excluir
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'customer_create' %}" id="id_add_customer" class="btn btn-success" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>Novo aluno
    </a>

</div>

</body>
</html>
{% endblock %}