{% extends "layout.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

    <h1 class="text-center">Cadastro de Aluno</h1>

<div class="col-sm-2"></div>

<div class="col-md-8">
    
<hr>    
    <form class="form-group" action="{% url 'customer_create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        
        {% for field in customerForm %}
        
        <label>{{field.label}}</label>
        <p>{{field|add_class:"form-control"}}</p>
        
        {% endfor %}

        <hr>
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">&nbsp;</span>Salvar
        </button>

        <a href="#" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">&nbsp;</span>Cancelar
        </a>
    </form>
    </div>

<div class="col-sm-2"></div>


{% endblock %}
