<!DOCTYPE html>
{% extends 'header.html' %}
{% load static %}
{% block content %}

<html lang="en">



<body>


<div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bem-vindo ao Fisiorganizer</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
<div class="container">

    <h1> Sua agenda para esta {{ dayOfWeek }}:</h1>
</div>


</body>
</html>

{% endblock %}