{% extends 'layout.html' %}
{% load static %}
{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {{message.extra_tags}}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> {{ message }}</strong>
</div>
{% endfor %}
{% endif %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Bem-vindo ao Fisiorganizer</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a
            jumbotron and three supporting pieces of content. Use it as a starting point to create something more
            unique.</p>
    </div>
</div>

{% if user.is_authenticated %}

<div class="container">

    <h2> Sua agenda para esta {{ dayOfWeek }}:</h2>
</div>
<hr>



    <table id="customersTable" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Aluno/Paciente</th>
            <th>Modalidade</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        {% for s in sessions %}
        <tr>
            <td>
                {{ s.id }}
            </td>
            <td>
                {{ s.customer.name }}

            </td>
            <td>
                {{ s.modality.name }}
            </td>
            <td>
                {{ s.date }}
            </td>
           <td>
                {{ s.time }}
            </td>


            <td>
                <a href="{% url 'session_details' id=s.id %}" class="" role="button">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true">&nbsp;</span>Detalhes
                </a>
                <span>&nbsp;</span>


                <a href="{% url 'session_edit' id=s.id %}" class="" role="button">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;</span>Editar
                </a>

                <span>&nbsp;</span>

                <a class="" role="button" name="delete" data-id="{{ s.id }}">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">&nbsp;</span>Excluir
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}



{% endblock %}