{% extends 'layout.html' %}
{% load static %}
{% block content %}

{% load widget_tweaks %}


<h1>Autenticação</h1>
<hr>
{% if messages %}
{% for message in messages %}
<div class="alert {{message.extra_tags}}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> {{ message }}</strong>
</div>
{% endfor %}
{% endif %}

    <form class="form-group" method="post" action="{% url 'account_login' %}">
    {% csrf_token %}

    {% for field in LoginForm %}
    <label>{{field.label}}</label>
    <p>{{field|add_class:"form-control"}}</p>
    {% endfor %}

    <hr>
    <button class="btn btn-default" type="submit" name="btnLogin" value="Entrar">
        Entrar
    </button>

    <a href="javascript:history.go(-1)" class="btn btn-danger" role="button">
        Cancelar
    </a>
</form>


{% endblock %}