<!DOCTYPE html>
<html lang="en">



<body>

{% extends 'header.html' %}
{% load static %}
{% block content %}

{% load widget_tweaks %}


<div class="container">
<h1>Autenticação</h1>

{% if messages %}
{% for message in messages %}
<div class="alert {{message.extra_tags}}">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong> {{ message }}</strong>
</div>
{% endfor %}
{% endif %}

    <form class="form-inline" method="post" action="{% url 'account_login' %}">
    {% csrf_token %}

    {% for field in LoginForm %}
    <label>{{field.label}}</label>
    <p>{{field|add_class:"form-control"}}</p>
    {% endfor %}

    <button class="btn btn-primary " type="submit" name="btnLogin" value="Entrar">
        <span class="glyphicon glyphicon-search" aria-hidden="true">&nbsp;</span>Entrar
    </button>

    <a href="javascript:history.go(-1)" class="btn btn-danger" role="button">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true">&nbsp;</span>Cancelar
    </a>
</form>
</div>






</body>
</html>

{% endblock %}